.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 150px 150px 30px ;
  min-height: 500px;
  background-color: #fcdbb0;
  color: #ab814a;
}

.swiper { 
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  padding-left: 5vw;
}


@media (max-width: 1200px) {
  .container {
    padding: 150px 80px 30px 200px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 150px 40px 30px;
  }
}



/* @media (max-width: 555px) {
  .container {
    padding: 15px 10px;
  }
} */
