.RContainer{
  background: #FFEBC1;
  z-index: 20;
  padding: 10vw;
}
.container {
  text-align: center;
  background-color: #D7A86E;
  border-radius: 10px;
  z-index: 25;
  color: rgb(65, 20, 20);
}

.container h3 {
  font-size: 4vw;
  align-items: center;
}

.container img{
  width: 12vw;
  height: 12vw;
  padding-bottom: 50px ;
}
.container div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
}