.container {
  display: flex;
  align-items: center;
  background: -webkit-linear-gradient(#FFEBC1,rgba(241, 121, 8, 0.967), #D7A86E, #A64B2A );
  padding: 80px 20px;
  margin-top: -40px;
}

.container h1 {
  font-size: 4vw;
  font-weight: bold;
  color: rgb(65, 20, 20);
  padding: 10px;
  
}

.container input {
  width: 260px;
  height: 40px;
  border-radius:10px ;
  border : 1px solid rgb(21, 21, 21);
  display: block;
  overflow: hidden;
  margin-right: 10px;
  padding: 9px 4px 9px 60px;
  background:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
::placeholder {
  color: rgb(60, 59, 59);
  font-size: 0.8rem;
  font-weight: bold;
}


button[type="submit"]:hover {
  opacity: 1;
}

